* {
    margin: 1px;
    padding: 5px;
}

html {
    font-size: 62.5%; /* 16px * 0.625 = 10px */
}

li {
    font-size: 1.4rem;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2.0rem;
}

p {
    font-size: 1.7rem;
}

body {
    width: 100%;
    height:100%;
}

nav {
    background-color: #00334D;
    padding: 0%;
}

.background__hf {
    background-color: rgb(245, 222, 179, 0.27);
}

header {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color: #00334D;
}

main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00334D;
    padding: 0;
}

.article__border {
    border:solid #00334D 0.2em
}

.align-center {
    text-align: center;
    color: #00334D;
}

.list__navegation {
    list-style: none;
}

.a__navigation {
    text-decoration: none;
    font-size: 1.5em;
    color: rgb(245, 222, 179);
}

/* Google Fonts - Cossette*/
.cossette-titre-regular {
  font-family: "Cossette Titre", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cossette-titre-bold {
  font-family: "Cossette Titre", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Flex box */
.productos {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
}

.flex__nav {
    display: flex;
    flex-wrap: wrap;
}

/* Grid */
.reseñas {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    padding: 10px;
}

.card {
    padding: 5px;
    border: 1px solid gray;
    box-shadow: 5px 5px 5px gray;
}

.card:hover {
    transform: translateY(-20px);
    transition: transform 0.3s ease-in-out;
}